@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;


}

:root {
    --main-bg-color: #212121;
    --a: 0;
}

/* -------header-------  */
header {
    font-family: "Raleway", sans-serif;
    font-weight: 600;


    background-color: black;
    color: WHITE;
    height: 80px;
}

.flex ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    align-items: center;
    gap: 37px;


}

.flex ul li:hover {
    background-color: var(--main-bg-color);
    border-radius: 19px;
}

nav li {
    cursor: pointer;

}

nav img {
    width: 24px;
    height: 24px;
}



#login {
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 19px;
    width: 52px;
    text-align: center;
    margin-top: 4px;
}

#login:hover {
    transform: scale(1.05)
}

.navleft {
    display: flex;
    gap: 20px;
    align-items: center;

}

.navleft p {
    margin-left: -10px;
    margin-top: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #121212;
    padding: 0px 15px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    color: white;
    gap: 10px;
    margin-top: 9px;
    height: 61px;
}



.search-bar input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;

}
.other-head{
    display: none;
}




/* ********body******* */
body {
    overflow: hidden;
    background-color: black;
    color: white;
}

.container {
    height: 100vh;
}

/* =====left ====  */

.left {
    width: 25%;
    background-color: var(--main-bg-color);
    padding: 12px;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-bottom: 60px;
    left: 0;
    top: 0;
    height: 88vh;
    transform: translateX(-100%);
    /* off-screen to left */
    animation: slideInLeft 0.8s ease-out forwards;


}

/* left header  */
.library {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.library img {
    width: 24px;
    height: 24px;
    margin-top: -38px;
}

.library img:hover {
    background-color: #bdbdbd;

    border-radius: 19px;
}

.libleft {
    margin-top: -38px;
}


/* ------library content-----  */

.lbleft-content {
    gap: 20px;
    display: grid;
}

.playlist-header {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    width: 317px;
}

.playlist-header p {

    margin-top: 4px;

}

#arrow-down {
    display: none;
}

.playlist-header img {
    height: 27px;
    background-color: #cccaca;
    padding: 10px;
    border-radius: 7px;
}

.song-list {

    display: none;
    transition: max-height 0.4s ease;
}


.music-box {
    display: flex;
    flex-direction: row;
    width: 340px;
    border-radius: 5px;
    justify-content: space-around;
    padding: 4px 0;
}

.music-info {
    display: flex;
    flex-direction: column;
    padding: 0 7px;
    width: 214px;
    justify-content: center;
}



.music-img img {
    height: 26px;
    margin-top: 18px;
}

.music-play img {
    margin-top: 18px;
    height: 23px;
}

.music-artist {
    margin-top: -13px;
}


.song-list ul {
    width: 278px;
    cursor: pointer;
    gap: 13px;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 28px;
}

.song-list ul li:hover {
    background-color: #403f3f;
}

.song-list ul li {
    list-style: none;
}

.playlist {
    width: 304px;
    height: 115px;
    display: grid;
    padding: 11px;
    background-color: #424242;
    border-radius: 23px;
}

.create-playlist-button {
    background-color: white;
    color: black;
    border-radius: 25px;
    width: 118px;
    margin-left: 7px;
    height: 30px;
    font-weight: bold;
}

.create-playlist-button:hover {
    transform: scale(1.05)
}

.letsfind {
    width: 304px;
    height: 115px;
    display: grid;
    padding: 11px;
    background-color: #424242;
    border-radius: 23px;
}

.create-playlist-button-letsfind {
    background-color: white;
    color: black;
    border-radius: 25px;
    width: 131px;
    margin-left: 7px;
    height: 30px;
    font-weight: bold;

}

.create-playlist-button-letsfind:hover {
    transform: scale(1.05)
}


/* =====left Footer====  */
.lib-footer {
    padding: 13px;
    padding-bottom: 44px;
}


.lib-footer ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 13px;
    gap: 10px;
    color: #8f8f8f
}

#Cookies {
    text-decoration: underline;
    margin-top: 15px;
}

#lang {
    gap: 7px;
    display: flex;
    margin-top: 12px;
    border: 1px solid white;
    width: 84px;
    height: 20px;
    padding: 3px;
    border-radius: 24px;
    align-items: center;

}

#lang:hover {
    border: 1.5px solid white;
    transform: scale(1.05)
}
.rightoh img{
        height: 30px;
}

/* =====left Footer end====  */


/* =====main left end=====*/
/* =====main right=====  */
.hamburger {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}


.hamburger img {
    height: 30px;
    display: none;


}

#hamburgerclose {
    display: none;
}

.right {
    background-color: var(--main-bg-color);
    padding-bottom: 60px;
    width: 75%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    /* off-screen to right */
    animation: slideInRight 0.8s ease-out forwards;


}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardcontainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 138px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;


}

.card:hover {
    background-color: gray;
    border-radius: 10px;

}

.card:hover .playbtn {

    top: 97px;
    opacity: 1;

}

.card>* {
    padding-top: 3px;
}

.playbtn {
    position: absolute;
    top: 124px;
    right: -9px;
    opacity: 0;
    transition: all 0.2s ease-out;
}



.card img {
    border-radius: 12px;
    object-fit: contain;
}

.playbar {
    position: sticky;
    bottom: 25px;
    width: 96%;
    background-color: #243b24;
    padding: 11px;
    border-radius: 26px;
    margin-left: 13px;
    height: 26px;
}

.seekbar {
    height: 4px;
    width: 50%;
    background-color: white;
    position: absolute;
    bottom: 9px;
    margin-left: 13px;
    border-radius: 19px;
    left: 23%;
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 13px;
    width: 13px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    border-radius: 10px;
    left: 0%;
    transition: left 0.5s;
}

.songinfo {
    padding: 0 12px;
}

.songtime {
    padding: 0 12px;

}

.songbtns {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: static;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: -16px;

}

.stopsongbtn img {
    height: 30px;
}

#previousbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#playbarplaybtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#playbarstopbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#nextbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.volume img {
    height: 18px;
    top: 57%;
    position: absolute;
    left: 76%;
}

.range input {
    height: 18px;
    top: 57%;
    position: absolute;
    left: 79%;

}



@keyframes slideInLeft {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    to {
        transform: translateX(0);
    }
}