.flex {
    display: flex;
    justify-content: space-between;



}

.border {
    border-radius: 9px;
    margin: 3px;



}

.invert {
    filter: invert(1);
}

.bold {
    font-weight: bold;
}

.show-all {
    background-color: transparent;
    color: #a3a0a0;
    border: none;
}

.show-all:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.padding-right-heading {
    padding: 19px;
}

.padding-right {
    margin-top: -12px;
    padding: 26px;
}


/* Scrollbar styling for dark theme */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Dark background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    /* Dark gray thumb */
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    /* Border to create space */
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Lighter on hover */
}

/* Optional: Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #1e1e1e;
}


/* for volume  */
/* TRACK (the bar) */